html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    overflow: hidden; /* Hide scrollbars */

  }

canvas{

  background: url('../assets/bg.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.fadeOut{
  animation: fadeOut;
  animation-duration: 0.5s;
}