@font-face {
    font-family: "1982";
    src: URL("../fonts/BACKTO1982.TTF") format("truetype");
  }
  .title {
    color:orange;
    -webkit-animation: bounceInLeft;
            animation: bounceInLeft; /* referring directly to the animation's @keyframe declaration */
    -webkit-animation-duration: 2s;
            animation-duration: 2s; /* don't forget to set a duration! */
    text-align: center;
    font-family: "1982";
    font-size: 70px;
    vertical-align: top;
    margin:auto;
    
  }
  
  html {
    height: 100%;
    display:block;
  }
  
  body {
    /* position: relative; */
    background: #7C75CA;
    perspective: 500px;
  }


  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.range input{
	-webkit-appearance:none;
	width:90%;
	height:4px;
	border-radius:5px;
	background-color:#ba3950;
	outline:none;
}
.range input::-webkit-slider-thumb{
	-webkit-appearance:none;
	width:20px;
	height:20px;
	border-radius:50%;
	background-color:#a83348;
}
.range span{
	position:absolute;
	margin-left:14px;
	width:5%;
	height:30px;
	background-color:#222;
	color:#fff;
	border-radius:3px;
	text-align:center;
	line-height:30px;
    font-size: 12px;
}
.range span:before{
	content:'';
	position:absolute;
	border-right:9px solid transparent;
	border-left:9px solid transparent;
	border-bottom:12px solid #222;
	left:-10px;
	top:50%;
	transform:translateY(-50%) rotate(-90deg);
}

.form{
    text-align: left;
    width:60%;
    margin:auto;
} 

li{
    display:inline-block;
    width:100%;
    font-family: Verdana;
    font-size: 20px;
    color:  rgb(193, 193, 209);
    margin-bottom: 20px;

}

li .range{
    float:right;

}

.range{
    width: 60%;
    margin-bottom: 10px;
}

main {
    width:100%;
}

.container{
    display: block;
}

/* li .checkbox{
float:right;
margin-right: 50%;

} */

li .checkbox input{
  width: 25px;
  height: 30px;
}
.boxes{
  margin-top: 10px;
  margin-bottom: 10px;
}
.boxes li{
  width: auto;
  margin-left:20px;
  text-align: center;
}

.file{
font-size: 30px;
margin-top: 3%;  
}
.file input{
  vertical-align: middle;
}

.radio {
  width:100%;
  text-align: left;;
}

.radio input{
  margin-top: 20px;
}

.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  width:20%;
}
.select-dropdown {
  position: relative;
  background-color: #E6E6E6;
  border-radius: 4px;
  margin-top: 10px;

}
.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  width:100%;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

#menu-btn{
  background-image: radial-gradient(100% 100% at 100% 0, #c9cc24 0, #e22c0b 100%);
  margin-left: 20px;
}

#menu-button:active{
  box-shadow: #c9781d 0 3px 7px inset;
  transform: translateY(2px);
}

.readMore{
  margin-top:20px;
  float:right;
  font-family: '1982';
  color:black;
  font-weight: 1000;
  vertical-align: middle;
}